\#*#
.\#*#
\#.*
.\#.*
*#
.#*
*.diff
*.err
*.orig
*.bak
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
.esproj
nbproject
error_log
_notes
dwsync.xml
*.komodoproject
.komodotools
.hg
.svn
.CVS
intermediate
publish
.idea
/wp-content/uploads/*
/wp-content/cache/*
/wp-content/advanced-cache.php
/wp-content/object-cache.php
/wp-content/db.php
/wp-content/managewp/*
/wp-content/w3tc-config/*
/.htaccess
/.htpasswd
