.content.full-width {
  margin-top: 0;
  max-width: 100%;
  
  .main {
    padding-left: 0;
    padding-right: 0;
  }
}

.slider-carousel {
  background-position: center;
  background-size: cover;
}

.full-carousel {
  
  .slider-carousel-inner {
    align-items: center;
    display: flex !important;
    height: 400px;
  }
  
  .slick-prev, .slick-next {
    z-index: 100;
  }
    
  .slick-prev {
    left: 25px;
  }
    
  .slick-next {
    right: 25px;
  }
}

.text-light {
  color: $white;
}