.slick-slide {
  width: 48%;
}

.slider-carousel-inner {
  background-size: cover;
  align-items: center;
  display: -webkit-box !important;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -moz-box !important;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox !important;  /* TWEENER - IE 10 */
  display: -webkit-flex !important; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex !important;         /* NEW, Spec - Firefox, Chrome, Opera */
  height: 400px;
}

.text-light {
  color: $white;
}